.grid-container{
    display: grid;
    grid-template-columns: 100px 200px ;
    grid-template-rows: 100px 200px 100px 100px 100px 100px;
    /* row-gap: 90px;
    column-gap: 60px; */
    gap: 30px;
    

}
.grid-item{
    background-color: aqua;
}